<%= render "govuk_publishing_components/components/layout_for_admin", {
  environment: "production",
  product_name: "Publishing",
  browser_title: "Edit Question"
} do %>
  <%= render "govuk_publishing_components/components/layout_header", { environment: "production" } %>

  <div class="govuk-width-container">
    <%= render "govuk_publishing_components/components/back_link", href: quiz_path(@quiz) %>
    <main class="govuk-main-wrapper" id="main-content">
      <h1 class="govuk-heading-xl">Edit Question</h1>
      
      <%= form_with model: [@quiz, @question], local: true do |form| %>
        <div class="govuk-form-group">
          <%= form.label :content, "Question", class: "govuk-label" %>
          <%= form.text_field :content, class: "govuk-input" %>
        </div>
        <div class="govuk-form-group">
          <%= form.label :correct_answer, "Answer", class: "govuk-label" %>
          <%= form.text_field :correct_answer, class: "govuk-input" %>
        </div>
        <div class="govuk-form-group">
          <%= form.submit "Update Question", class: "govuk-button" %>
        </div>
      <% end %>
    </main>
  </div>

  <%= render "govuk_publishing_components/components/layout_footer", {} %>
<% end %>

