<% content_for :page_title, "Edit a Quiz" %>

<%= render "govuk_publishing_components/components/back_link", href: quiz_path(@quiz) %>

<h1 class="govuk-heading-xl">Edit Quiz</h1>

<%= form_with model: @quiz, local: true do |form| %>
  <div class="govuk-form-group">
    <%= form.label :title, class: "govuk-label" %>
    <%= form.text_field :title, class: "govuk-input" %>
  </div>
  <div class="govuk-form-group">
    <%= form.label :description, class: "govuk-label" %>
    <%= form.text_area :description, class: "govuk-textarea" %>
  </div>
  <div class="govuk-form-group">
    <%= form.submit "Update Quiz", class: "govuk-button" %>
  </div>
<% end %>
