<%= render "govuk_publishing_components/components/layout_for_admin", {
  environment: "production",
  product_name: "Publishing",
  browser_title: "A page title"
} do %>
  <!-- You probably want to use the header, main & footer components here -->
    <%= render "govuk_publishing_components/components/layout_header", {
    environment: "production"
  } %>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content">
    <h1 class="govuk-heading-xl">Quizzes Dashboard</h1>
    <p class="govuk-body">
      Manage and review your quizzes below. Create new quizzes or modify existing ones to keep your content up-to-date.
    </p>
    <%= render "govuk_publishing_components/components/button", text: "Create New Quiz", href: new_quiz_path %>
      <h2 class="govuk-heading-m govuk-!-margin-top-3">Existing Quizzes</h2>
      <%= render "govuk_publishing_components/components/cards", {
        columns: 3,
        items: @quizzes.map do |quiz|
          {
            link: {
              text: quiz.title,
              path: quiz_path(quiz)
            },
            description: quiz.description
          }
        end
      } %>
    </main>
  </div>

  <%= render "govuk_publishing_components/components/layout_footer", {} %>
<% end %>
