<% content_for :page_title, "Create a New Quiz" %>
<% content_for :back_link, quizzes_path %>

<% if @quiz.errors.any? %>
  <%= render "govuk_publishing_components/components/error_summary", {
        id: "error-summary",
        title: "There is a problem",
        description: "Please fix the following errors:",
        items: [
          { text: @quiz.errors.full_messages_for(:title).join(", "), href: "#quiz_title" },
          { text: @quiz.errors.full_messages_for(:description).join(", "), href: "#quiz_description" }
        ]
      } %>
<% end %>

<%= form_with model: @quiz, local: true do |form| %>
  <%= render "govuk_publishing_components/components/input", {
        label: { text: "Title" },
        name: "quiz[title]",
        id: "quiz_title",
        value: @quiz.title
      } %>
  <% if @quiz.errors[:title].present? %>
    <%= render "govuk_publishing_components/components/error_message", {
          text: @quiz.errors.full_messages_for(:title).join(", "),
          id: "quiz_title_error"
        } %>
  <% end %>

  <%= render "govuk_publishing_components/components/input", {
        label: { text: "Description" },
        name: "quiz[description]",
        id: "quiz_description",
        value: @quiz.description
      } %>
  <% if @quiz.errors[:description].present? %>
    <%= render "govuk_publishing_components/components/error_message", {
          text: @quiz.errors.full_messages_for(:description).join(", "),
          id: "quiz_description_error"
        } %>
  <% end %>

<div class="govuk-form-group">
  <%= render "govuk_publishing_components/components/button", { text: "Create Quiz", type: "submit" } %>
</div>
<% end %>
