<%= render "govuk_publishing_components/components/layout_for_admin", {
  environment: "production",
  product_name: "Publishing",
  browser_title: "A page title"
} do %>
  <!-- You probably want to use the header, main & footer components here -->
  <%= render "govuk_publishing_components/components/layout_header", {
    environment: "production"
  } %>

    <h1>Create a New Quiz</h1>

  <%= form_with model: @quiz do |form| %>
    <div>
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
    <div>
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>
    <div>
      <%= form.submit "Create Quiz" %>
    </div>
  <% end %>
  
  <%= render "govuk_publishing_components/components/layout_footer", {} %>

<% end %>
