<h1><%= @quiz.title %></h1>
<p><%= @quiz.description %></p>

<h2>Questions</h2>
<ul>
  <% @quiz.questions.each do |question| %>
    <li>
      <%= question.content %> (Answer: <%= question.correct_answer %>)
    </li>
  <% end %>
</ul>

<%= render "govuk_publishing_components/components/button", text: "Add Question", href: new_quiz_question_path(@quiz) %>

<%= render "govuk_publishing_components/components/back_link", href: quizzes_path %>
