<%= render "govuk_publishing_components/components/layout_for_admin", {
  environment: "production",
  product_name: "Publishing",
  browser_title: "A page title"
} do %>
  <!-- You probably want to use the header, main & footer components here -->
  <%= render "govuk_publishing_components/components/layout_header", {
    environment: "production"
  } %>

  <div class="govuk-width-container">
  <%= render "govuk_publishing_components/components/back_link", href: quizzes_path %>
    <main class="govuk-main-wrapper" id="main-content">
      <h1 class="govuk-heading-xl"><%= @quiz.title %></h1>
      <p class="govuk-body"><%= @quiz.description %></p>

      <h2 class="govuk-heading-m">Questions</h2>
      <ul class="govuk-list">
        <% @quiz.questions.each do |question| %>
          <li class="govuk-body">
            <%= question.content %> (Answer: <%= question.correct_answer %>)
          </li>
        <% end %>
      </ul>

      <%= render "govuk_publishing_components/components/button", text: "Add Question", href: new_quiz_question_path(@quiz) %>
      
      <div class="govuk-button-group">
        <%= render "govuk_publishing_components/components/button", text: "Edit Quiz", href: edit_quiz_path(@quiz) %>
      </div>
    </main>
  </div>
  
  <%= render "govuk_publishing_components/components/layout_footer", {} %>
<% end %>
