<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <meta charset="utf-8">
    <title><%= content_for?(:page_title) ? yield(:page_title) : "Publishing" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
  </head>
  <body class="govuk-template__body">
    <%= render "govuk_publishing_components/components/layout_header", environment: "production" %>
    <div class="govuk-width-container">
      <main class="govuk-main-wrapper" id="main-content">
        <%= yield %>
      </main>
    </div>
    <%= render "govuk_publishing_components/components/layout_footer", {} %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </body>
</html>
