<%= render "govuk_publishing_components/components/layout_for_admin", {
  environment: "development",
  product_name: "Quiz",
  browser_title: yield(:page_title)
} do %>
  <%= render "govuk_publishing_components/components/layout_header", environment: "development" %>
  <div class="govuk-width-container">
    <% if content_for?(:back_link) %>
      <%= render "govuk_publishing_components/components/back_link", href: yield(:back_link) %>
    <% end %>
    <main class="govuk-main-wrapper" id="main-content">
      <% if content_for?(:page_title) %>
        <h1 class="govuk-heading-xl"><%= yield(:page_title) %></h1>
      <% end %>
      <%= yield %>
    </main>
  </div>
  <%= render "govuk_publishing_components/components/layout_footer", {} %>
<% end %>
